<h3 id="crud"> CRUD </h3>
<div class="d-flex">

<div class=" list-group list-reset">
  <div class="container">
    <button class="list-group-item list-group-item-action">
      Agrega a una persona
    </button>
  </div>
  <button class="btn btn-danger">
  borrar
  </button>
</div>
     <table class="table table-active">
      <thead>
        <tr>
          <th>
        Hola como estas 
      </th>
      </tr>
      </thead>
      <tbody scope="row">
        <tr class="table table">
          ggg
        </tr>
        <tr>
          gg
        </tr>
        <tr>
          <th scope="row">g</th>
          <th scope="row">o</th>
          <td>@twitter</td>
          <td>@</td>
        </tr>
      </tbody>
    </table>
  
</div>